* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.header {
    background-color: #efefef;
    /*position: sticky;*/
    /*top:0;*/
}

.block__wrapper {
    height: 100vh;
    padding: 0 50px;
    margin: 0 10%;
    background-color: inherit;

}

.block__wrapper.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 15px 50px;
}

.block__title {
    text-align: center;
}

.logo {
    color: #595454;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-shrink: 0;
}

.menu__item {
    cursor: pointer;
    color: black;
    transition: color 0.3s ease
}

.menu__item:hover {
    color: crimson;
}

.item {
    text-decoration: none;
    color: inherit;
}

.block1 {
    background-color: rgba(127, 255, 212, 0.5);
}

.block2 {
    background-color: rgba(255, 228, 196, 0.5);
}

.block3 {
    background-color: rgba(0, 191, 255, 0.5);
}

.block4 {
    background-color: rgba(255, 192, 203, 0.5);
}

.block5 {
    background-color: rgba(255, 215, 0, 0.5);
}

.burger-toggle {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 15px;
    right: 40px;
    z-index: 1;
}

.burger-toggle:hover {
    cursor: pointer;
}

.burger-toggle span {
    width: 100%;
    height: 3px;
    background-color: rgba(41, 9, 9, 1);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    transition: all 1s ease;
    pointer-events: none;
}

.burger-toggle span:first-child {
    top: 0;
    transform: translate(0%, 0%);
}

.burger-toggle span:last-child {
    top: 100%;
    transform: translate(0%, -50%);
}

body.burger-open .burger-toggle span {
    background-color: #efefef;
    transform: rotate(135deg);
}

body.burger-open .burger-toggle span:first-child {
    top: 50%;
    transform: rotate(45deg);
}

body.burger-open .burger-toggle span:last-child {
    transform: rotate(0deg);
}

@media only screen and ( max-width: 760px) {
    .overlay{
        opasity:0.4;
        position:fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
    }
    .block__wrapper {
        margin: 0 5%;
        padding: 0 25px;
    }

    .block__wrapper.header__wrapper {
        padding: 15px 25px;
    }

    .menu__burger {
        visibility: hidden;
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        box-shadow: -15px 0 10px #fff;
        background-color: rgba(41, 9, 9, 1);
        transform: translateX(100%);
        transition: 0.5s ease;
    }

    body.burger-open {
        overflow: hidden;
    }

    body.burger-open .burger-toggle {

    }

    body.burger-open .menu__burger {
        visibility: visible;
        transform: translateX(0);
    }

    .menu .item {
        color: bisque;
    }

    .burger-toggle {
        display: block;
    }

}

@media only screen and (max-width: 480px) {
    .block__wrapper {
        margin: 0;
        padding: 0 20px;
    }

    .block__wrapper.header__wrapper {
        padding: 10px 20px;
    }
}

